* {
    row-gap: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

#MainMenu,
footer,
header,
.StyledThumbValue,
button[title="View fullscreen"],
button[title="View fullscreen"]:hover,
div[data-testid="stStatusWidget"],
div[data-testid="stDecoration"],
div[data-testid="stToolbar"],
div[data-testid="stTickBar"],
label[data-testid="stWidgetLabel"] {
    display: none;
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    right: 0;
}

.block-container {
    padding: 0;
    margin: 0;
}

.progress-bar {
    height: 100px;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px;
}

.progress-container {
    width: 100%;
    background-color: #4D4D4D;
    border-radius: 5px;
    padding: 3px;
    margin: 20px 0;
    position: fixed;
    bottom: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
.gear-display {
    font-family: 'Orbitron', sans-serif;
    font-size: 400px;
    color: #FFFFFF;
    text-align: center;
    margin: 20px 0;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
.speed-display {
    font-family: 'Roboto Mono', monospace;
    font-size: 200px;
    color: #FFFFFF;
    text-align: center;
    transform: translate(0, -20%);
}