<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Race</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/progress-bar.css') }}">
</head>
<body>
<span id="speed">N/A</span>
<span id="gear">N/A</span>
<div class="progress-container-wrapper">
    <div class="progress-container">
        <div class="progress-bar"></div>
        <div class="needle"></div>
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/dep/socketio.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>
