body {
    margin: 0 !important;
    background-color: #2B2B2B;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
#speed {
    font-family: 'Roboto Mono', monospace;
    font-size: 200px;
    color: #FFFFFF;
    text-align: center;
    transform: translate(0, -20%);
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
#gear {
    font-family: 'Orbitron', sans-serif;
    font-size: 400px;
    color: #FFFFFF;
    text-align: center;
    margin: 20px 0;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}